export(alignment2psl)
export(grow.bed)
export(import.psl)
export(import.ucsc.bed)
export(make.unique.psl)
export(midpoint.bed)
export(new.psl)
export(numeric)
export(order.psl)
export(psl.besthit)
export(psl2bed)
export(psl2coordinates)
export(pslIsProtein)
export(pslPercentIdentity)
export(pslScore)
export(sort.psl)
export(vector)
export(write.bed.track)
export(write.psl)
export(write.psl.track)
export(write.ucsc.track)
importFrom(bitops,bitShiftR)
importFrom(mjcbase,"colclasses<-")
importFrom(mjcbase,recycle)
importFrom(mjcbase,rowapply)
importFrom(mjcbase,sortnum)
importFrom(mjcbase,split_into_batches)
importFrom(mjcbase,trim)
importFrom(mjcbase,uncsv)
importFrom(mjcbase,write.delim)
